table{
    border: 1px solid black;
}
tr, td{
    /*border: 1px solid black;*/
    width: 20px;
    height: 20px;
    cursor: pointer;
    background-color: black
}

.live{
  background-color: #cfb53b;
}
